<section class="py-12 md:py-20">
  <div class="experiences">
    <div class="card">
      <div class="p-6">
        <h3 class="text-xl font-bold">Everli Spa</h3>
        <h4>Staff Software Engineer (2023-2024)</h4>
        <ul>
          <li>Led the technical direction of two teams.</li>
          <li>Improved system scalability and performance by decoupling cross team dependencies through GraphQL</li>
          <li>Transitioned to an event-driven architecture</li>
        </ul>
        <h4>Senior Software Engineer (2022-2023)</h4>
        <ul>
          <li>Improved backend system core APIs performances by 40%.</li>
          <li>Reduced manually managed orders from 30% to 9%, resulting in a 70% decrease in manual workload.</li>
          <li>Achieved a 2.5% decrease in daily moved orders by optimizing delivery capacity and customer demand.</li>
        </ul>
        <h4>Software Engineer II (2020-2022)</h4>
        <ul>
          <li>Developed and maintained Typescript and PHP backend services for grocery delivery.</li>
          <li>Worked closely with product and business team to fulfill company needs</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="p-6">
        <h3 class="text-xl font-bold">Labware Spa</h3>
        <h4>Web developer (2018-2020)</h4>
        <ul>
          <li>Implemented PHP and Python backend services solving HO.RE.CA. industry challenges.</li>
          <li>Developed a BI report tool that led to an increase in sales for store owners, providing valuable insights for service improvement and business growth.</li>
        </ul>
        <h4>Beta tester (2016-2020)</h4>
        <ul>
          <li>Hardware and software testing for HO.RE.CA. devices (PoS, printers, etc..)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<p style="margin: auto; text-align:center;"> 
  <a  href="/assets/valerio_pizzichini_resume.pdf" target="_blank"> >> Take a peek at my CV << </a>
</p>
<h2>Skills </h2>
  <ul>
    <li><b>Languages/Frameworks:</b> Typescript, Javascript, GraphQL, PHP, Elixir, Rust</li>
    <li><b>Databases:</b> MySQL, Postgres, Redis, DynamoDB </li>
    <li><b>Design Systems:</b> Domain Driven Design, Event Driven Architecture</li>
    <li><b>Infrastructure:</b> AWS, Queues (RMQ, SQS), GithubActions, Jenkins</li>
  </ul>

