.post-info {
  padding-bottom: 30px;
  margin: auto;
  padding-top: 20px;
}

.post-content {
  line-height: 40px;
  padding-bottom: 50px;
  font-size: 16px;
  text-align: justify;
}

.post-content h1, h3, pre {
  padding-bottom: 10px;
  padding-top: 10px;
}

.post-content code {
  font-size: 14px !important;
}

.post-content h2 {
  padding-bottom: 20px;
  padding-top: 20px;
}
